@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Texto */
    --color-label:           #FFFFFF;
    --color-secondary-label: rgba(235, 235, 245, 0.6);

    /* Fondos */
    --color-system-background:           #000000;
    --color-secondary-system-background: #1C1C1E;

    /* Separador */
    --color-separator: rgba(84, 84, 88, 0.6);

    /* Acentos */
    --color-link:         #0984FF;
    --color-system-blue:  #0A84FF;
    --color-system-green: #30D158;
    --color-system-red:   #FF453A;
    --color-system-gray:  #8E8E93;
}

#modal-crear:target,
#modal-crear.open {
    display: flex;
}
